
body{
  font-family: Montserrat;
}

#title{
  background-color: #ff4c68;
}

.container-fluid{
  padding: 3% 15%;
}

h1 {
  line-height: 1.5;
  color: white;
  font-size: 3.4rem;
  margin: 0px auto 0 auto 0;
  font-family: "Montserrat-Bold";
  Font-weight: bolder;
}

h2{
  font-family: "Montserrat-bold";
  font-size: 3.0rem;
  line-height: 3.0rem;
  Font-weight: bolder;

}

h3{
  font-family:"Montserrat-Bold";
}

h4{
  font-family:"Montserrat-Bold";
  Font-weight: bolder;
}

p{
  color: #8f8f8f
}


/*navigation bar*/

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  "font-family: Montserrat-light;"
  font-size: 1.2rem;
}

.Download-button{
  margin: 5% 3% 5% 0;
}

/*title image*/

.title-image{
  width: 60%;
  transform: rotate(25deg);
}

/*Features section*/

#features{
  padding: 7% 15%;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68
}

/*testimonial section*/

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


/*Pricing section*/

#pricing {
  padding: 5% 10%;
  text-align: center;
  background-color: #white;
  color: black;
}

/*Call to Action section*/

#cta {
  padding: 5% 20%;
  text-align: center;
  background-color: #ef8172;
  color: white;
  font-weight: bolder;
  font-family:"Montserrat-Bold";
}

/*footer section*/

.social-icon {
  margin: 20px 10px;
}


#footer {
  padding: 5% 20%;
  text-align: center;
  background-color: white;
  color: black;
  font-weight: bolder;
  font-family:"Montserrat-Bold";
}
